# Dependencies
node_modules/
.pnpm-store/

# Next.js & Turbo
.next/
.turbo/
dist/
out/

# Go build & binaries
bin/
*.exe
*.test
*.out

# Databases & local docker volumes
pgdata/
*.log

# Environment files
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
